.grid-container{
display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 500px;
  height: 500px;
  border: 1px solid;
}
.tile-item{
    background-color: greenyellow;
    display: flex;
    border: 1px solid ;
    text-align: center;
    box-sizing: border-box;
}
.empty-space{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
body{
    padding: 0;
    margin: 0;
    background-color: aquamarine; 
}
.number {
    margin: auto;
    font-size: 30px;
  }
h1{
    text-align: center;
}
